--model_path=TinyLlama/TinyLlama-1.1B-Chat-v1.0
--dataset_path=data/chicago_crime
--num_event_types=20
--temporal_emb_type=positional
--num_integral_samples=20
--quant_type=4bit
--peft_type=lora
--lora_rank=16
--lora_modules
q_proj
k_proj
v_proj
o_proj
--train_batch_size=8
--eval_batch_size=16
--learning_rate=5e-4
--num_epochs=20
--beta_type=1
--beta_time=1
--device=cuda
--seed=2024